@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@tailwind base;

.font-sans-kr {
    font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-sans-kr-bold {
    font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

.font-sans-kr-light {
    font-family: "Noto Sans KR Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300
}


@tailwind components;
@tailwind utilities;

.mantine-rnw0l{
    border-radius: 0;
    font-family: noto sans kr;
    font-weight: 300;
    border:0.5px solid rgb(155, 155, 155);
  }
.mantine-rnw0l:focus{
    outline: none;
    border:0.5px solid rgb(155, 155, 155);
}

.mantine-ye2q1m{
    border-radius: 0;
    font-family: noto sans kr;
    font-weight: 300;
    border:0.5px solid rgb(155, 155, 155);
  }

  .mantine-ye2q1m:focus{
    outline: none;
    border:0.5px solid rgb(155, 155, 155);
  }

.mantine-8vuirw{
    border-radius: 0;
    font-family: noto sans kr;
    font-weight: 300;
}

.mantine-xthmnv{
    border-radius: 0;
    font-family: noto sans kr;
    font-weight: 400;
}

.culture{
    height: 800px;
    width: 100%;
    position: relative;
}
.video-section{
    height: 800px !important;
}
.video-div{
    position: absolute;
    top: 25%;
    left: 50%;
    /* background-color: aliceblue; */
    height: 10rem;
    text-align: center;
    border-radius: 1rem;
    /* box-shadow: 1px 1px 10px 10px powderblue; */
    transform: translate(-50%, -50%);
}

@media screen and (max-aspect-ratio: 1219/685) {
    #background_video {
        width: auto;
        height: 100vh;
     }
 }

 table {
    width: 100%;
    border: 1px solid rgba(220,220,220,0.8);
    border-collapse: collapse;
    background-color: white;
  }
  th, td {
    border: 1px solid rgba(220,220,220,0.8);
    padding: 10px;
    text-align: center;
  }

  .class-view{
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .my-swiper{
    width: 100%;
    height:800px;
}

.my-swiper-slide{
    width: 100%;
    height: 100%;
}
.my-swiper-slide>span{
    width: 100% !important;
    height: 100% !important;
}
.swiper-button-prev{
    left:4rem !important;
}

.swiper-button-next{
    right: 4rem !important;
}

.carousel-fit{
    object-fit: cover !important;
}

:root{
    --swiper-theme-color:white !important;
    --swiper-pagination-bullet-inactive-color:#ffffff !important;
    --swiper-pagination-bullet-width:10px !important;
    --swiper-pagination-bullet-size:10px !important;
    --swiper-navigation-size:60px !important;
}

.swiper-button-prev{
    color: white;
}
.swiper-button-next{
    color: white;
}
 

.rainbow-animation { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }